name: bili_qml_app
description: "B站问号榜 - 抽象视频排行榜 Flutter 客户端"
publish_to: 'none'

version: 1.1.1+3

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  
  # HTTP 请求
  http: ^1.2.0
  
  # 状态管理
  provider: ^6.1.0
  
  # 本地存储
  shared_preferences: ^2.3.0
  flutter_secure_storage: ^9.2.2
  
  # WebView - 移动端
  # webview_flutter: ^4.10.0
  
  # WebView - Windows
  # webview_windows: ^0.4.0
  
  # 路由管理
  go_router: ^17.0.0
  
  # URL 启动器（打开外部链接）
  url_launcher: ^6.3.0
  
  # 加密（Altcha SHA-256）
  crypto: ^3.0.0
  
  # 缓存网络图片
  cached_network_image: ^3.4.0
  
  # 分享功能
  share_plus: ^12.0.0
  
  # 截图功能
  screenshot: ^3.0.0
  path_provider: ^2.1.5

  # 接收分享内容 (替代 receive_sharing_intent)
  share_handler: ^0.0.20
  web: ^1.1.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
